<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="hOOt" version="1.0.0" targetFramework="net48" />
  <package id="Lucene" version="2.3.2.1" targetFramework="net40" />
  <package id="OpenNLP" version="1.0.5456.34234" targetFramework="net40" />
  <package id="ZzzzRangeBar" version="1.0.5537.22243" targetFramework="net40" />
</packages>